
/* Modern Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(248 250 252); /* Slate 50 */
}

::-webkit-scrollbar-thumb {
  background: rgb(203 213 225); /* Slate 300 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(148 163 184); /* Slate 400 */
}
